{% extends 'base.html' %}
{% load static %}
{% block title %}My First Accordion{% endblock title %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/jquery-3.5.1.js' %}"></script>
<script>
	document.querySelectorAll('.accordion_header').foreach(button =>{
		button.addEventListener('click', ()=>{
			const accordionBody = button.nextElementSibling;

			button.classList.toggle('.accordion_header--active');

			if(button.classList.contains('.accordion_header--active')){
				accordionBody.style.maxHeight = accordionBody.scrollHeight + 'px';
			}
			else{
				accordionBody.style.maxHeight =0;
			}
		})
	})
</script>
{% endblock %}

{% block content %}
<div class="wrapper">
	<div class="accordion_wrap">
		<button class="accordion_header" type="button">My Recent Activity</button>
		<div class="accordion_body">
			<p>Saat ini sedang mencoba hal baru di mata kuliah PPW yaitu javascript dan JQuery
			Semoga bisa memahami dengan baik.</p>
		</div>
	</div>
	<div class="accordion_wrap">
		<button class="accordion_header" type="button">Pengalaman Organisasi/Kepanitiaan</button>
		<div class="accordion_body">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			Anda Membaca Ini Karena Pengalaman Organisasi/Kepanitian.equals(Null) is True.</p>
		</div>
	</div>
	<div class="accordion_wrap">
		<button class="accordion_header" type="button">Prestasi</button>
		<div class="accordion_body">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			Anda Membaca Ini Karena Prestasi.equals(Null) is True.</p>
		</div>
	</div>
	<div class="accordion_wrap">
		<button class="accordion_header" type="button">Hal yang ingin dicapai</button>
		<div class="accordion_body">
			<p>Semoga hal-hal baik masih tersisa.</p>
		</div>
	</div>
</div>
{% endblock %}