{% extends 'base.html' %}
{% block title %}Edit Data{% endblock title %}
{% block content %}
<div class="col-md-12">
	<form method="POST" class="post-form" action="/update/{{ matkul.id }}" autocomplete="off">
		{% csrf_token %}
		<div class="container">
			<br>
			<div class="form-group row">
				<label class="col-sm-1 col-form-label"></label>
				<div class="col-sm-4">
					<h3>Edit Details</h3>
				</div>
				
			</div>

			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Mata Kuliah:</label>
				<div class="col-sm-4">
					<input type="text" name="nama_matkul" id="id_mata_kuliah" class="form-control" required maxlength="25" value="{{ matkul.nama_matkul}}">
				</div>
				
			</div>

			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Jumlah SKS:</label>
				<div class="col-sm-4">
					<input type="text" name="sks" id="id_sks" class="form-control" required maxlength="25" value="{{ matkul.sks }}">
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Term:</label>
				<div class="col-sm-4">
					<input type="text" name="term" id="id_term" class="form-control" required maxlength="25" value="{{ matkul.term }}">
				</div>
				
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Dosen Pengajar:</label>
				<div class="col-sm-4">
					<input type="text" name="dosen" id="id_dosen" class="form-control" required maxlength="25" value="{{ matkul.dosen }}">
				</div>
				
			</div>

			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Ruang Kelas:</label>
				<div class="col-sm-4">
					<input type="text" name="ruang_kelas" id="id_ruang_kelas" class="form-control" required maxlength="25" value="{{ matkul.ruang_kelas }}">
				</div>
				
			</div>

			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Deskripsi</label>
				<div class="col-sm-4">
					<input type="text" name="deskripsi" id="id_deskripsi" class="form-control" required maxlength="25" value="{{ matkul.deskripsi }}">
				</div>
				
			</div>
			<div class="form-group row">
				<label class="col-sm-1 col-form-label"></label>
				<div class="col-sm-4">
					<button type="submit" class="btn btn-primary">Update</button>
				</div>
				
			</div>

		</div>
	</form>
</div>
		
{% endblock %}