{% extends 'base.html' %}
{% load static %}
{% block title %}MyDB{% endblock title %}
{% block content %}
	<div class="col-md-12">
		<h4 class="text text-center text-info display-4" >DATA CENTER</h4>
		<div class="table-responsive">
			<table  id="#bootstrapdatatable" class="table table-striped table-dark table-hover table-bordered" data-search = "true" width="100%">
				<thead>
					<th>ID</th>
					<th>Mata Kuliah</th>
					<th>SKS</th>
					<th>Dosen Pengajar</th>
					<th>Term</th>
					<th>Ruang Kelas</th>
					<th>Deskripsi</th>
					<th>Edit</th>
					<th>Delete</th>
				</thead>

				<tbody>
					{% for matkul in matkul %}
						<tr>
							<td>{{ matkul.id }}</td>
							<td><a href="#">{{ matkul.nama_matkul }}</a></td>
							<td>{{ matkul.sks }}</td>
							<td>{{ matkul.dosen }}</td>
							<td>{{ matkul.term }}</td>
							<td>{{ matkul.ruang_kelas }}</td>
							<td>{{ matkul.deskripsi }}</td>
							<td><a href="/edit/{{ matkul.id }}" class="btn btn-primary btn-xs"><span class="fas fa-edit fa-md"></span></a></td>
	     					<td><a href="/delete/{{ matkul.id }}" class="btn btn-danger btn-xs" data-title="Delete" onclick="return confirm('are you sure want to delete {{matkul.nama_matkul}}')"><span class="fas fa-trash fa-sm"></span></a></td>  
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<span><a href="/addnew" class="btn btn-primary bt-lg">Add New Subject</a></span>
		</div>
	</div>
	<div id="actcontainerhome" class="container mt-5">
	<div id ="jumboact" class="jumbotron justify-content-center">
		<h1 id="acttexthome"class="text text-center display-3">My Activity</h1>
		{% if activities.count == 0%}
			<h3 class="text-success">No Activity yet..</h3>
		{% endif %}
		<div id="actcarddeckhome" class="card-deck">
			{% for act in activities %}
				<div id="actcardhome" class="card">
						<div class="card-title">
							<h4 class="text-center">{{ act }}</h4>
						</div>
					<div id="actcardbody" class="card-body">
						<ol>
				{% for person in act.person_set.all %}
							<li class="card-text">{{ person }}</li>	
				{% endfor %}
						</ol>
					</div>
				</div>
				
			{% endfor %}

		</div>
	</div>
</div>
{% endblock %}